[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
snapshottest = "*"
freezegun = "*"
responses = "*"
twine = "*"

[packages]
requests = "*"
iso8601 = "*"
fpdf = "*"

[requires]
python_version = "3.7"
fpdf = "1.7.2"
